.dark{
    background-color: black;
    color:azure;
}
.light{
    background-color: white;
    color: black;
}
.container{
    display: flex;
}
#time{
    text-align: center;
    width:120px;
    height:50px;
    border:2px solid rgb(155, 144, 144);
}